*{
	margin: 0;
	padding: 0;
}

#left{width:250px;border-right: 1px solid #ccc;padding:20px;float: left;}
#right{float:left;}
#left ul li{list-style: none;}
#left input[type=number]{display: inline;width: 50px;}
canvas {border:1px solid #ccc;}
#first {width:250px;height: 250px;}
#second{margin:20px;}